.vertical-form {
    display: flex;
    font-size: 1.7rem;
    justify-content: center;
    margin: 15px 0;
    padding: 0.8rem;
    width: 100%;
    align-items: center;
    flex-direction: column;
}

.vertical-form input {
    padding: 0.75rem;
    font-size: 0.65em;
    border: none;
    outline: none;
    border-radius: 1em;
    max-width: 500px;
    transition: background-color 200ms ease-in-out;
    width: 100%;
}

.vertical-form > *:nth-child(n + 2) {
    margin-top: 1em;
}

.vertical-form button {
    padding: 10px;
    font-size: 0.65em;
    border-radius: 1em;
    min-width: 100px;
}

/* Responsive design */
@media only screen and (max-width: 400px) {
    .vertical-form button {
        border-radius: 0.75em;
        font-size: 0.6em;
        width: 50%;
    }
}
