.family-member-table {
    width: 90%;
    margin-top: 1em;
}

.family-member-table,
th,
td {
    border-collapse: collapse;
}

.family-member-table.standard th,
.family-member-table.standard td {
    border: 0.2em solid rgb(247, 226, 223);
}

.family-member-table.light th,
.family-member-table.light td {
    border: 0.2em solid #1a150e;
}

.family-member-table.darker th,
.family-member-table.darker td {
    border: 0.2em solid white;
}
